body {
	background: #FCFCFC;
	/*font-family: 'Prociono', "Helvetica", serif;*/
	font-family: 'Lato400', sans-serif;
	/*color: #020202;*/
	color: #2E8BAF;
}

i {
	font-size: 100px;
}

i.smaller {
	color: #2E8BAF;
	font-size: 48px;
}

h1,h2,h3 {
	/*font-weight: lighter;*/
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 64px;
	/*margin-top: 0;*/
	/*padding: 32px;*/
	/*font-style: italic;*/
}

h3 {
	font-family: 'Lato400', sans-serif;
}

p {
	font-family: 'Lato200', sans-serif;
	font-weight: lighter;
	font-size: 24px;
	color: #020202;

}

#header {
	position: fixed;
	z-index: 2;
	height: 100px;
	width: 100%;
	background: rgba(252,252,252,0.7);

}

h1.header {
	/*position: fixed;*/
	font-weight: normal;
	text-align: center;
	color: #2E8BAF;
	margin: 0;
	line-height: 100px;
}

#header h2 {
	font-size: 28px;
}

.cover-photo {
	width: 100%;
}

.header-so-me {
	position: absolute;
	right: 0;
	top: 16px;
}

.header-so-me > img {
	margin-right: 20px;
	height: 60px;
	width: auto;
}

.page {
	padding-top: 114vh;
	padding-bottom: 4px;
}

.center-circle-image {
	width: 600px;
	height: auto;
	border-radius: 50%;
	display: table;
	margin: 0 auto;
}

.bottom {
	margin-bottom: 48px;
}

.center {
	display: table;
	margin: 0 auto;
}

.member-image {
	width: 220px;
	height: 220px;
}

.jumbo-image {
	width: 400px;
	height: 220px;
}

.face-color {
	color: #3b5998;
}

.insta-color {
	color: #517fa4;
}

.insta-brown-color {
	color: #675144;
}

.youtube-color {
	color: #bb0000;
}

.google-color {
	color: #dd4b39;
}

.vine-color {
	color: #00bf8f;
}

.face-background:hover {
	background: #3b5998;
}

.insta-background:hover {
	background: #517fa4;
}

.insta-brown-background:hover {
	background: #675144;
}

.youtube-background:hover {
	background: #bb0000;
}

.google-background:hover {
	background: #dd4b39;
}

.vine-background:hover {
	background: #00bf8f;
}


/* helpers */

.center-text {
	text-align: center;
}

.rotate {
	-ms-transform: rotate(-0.81deg); /* IE 9 */
	-webkit-transform: rotate(-0.81deg); /* Chrome, Safari, Opera */
	transform: rotate(-0.81deg);
}

.italic {
	font-style: italic;
}

.full-width {
	/*margin-top: 100px;*/
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("/img/test2.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*-webkit-transition: background-color 1s;*/
	/*transition: background-color 1s;*/
}

/*.tile {*/
	/*height: 50%;*/
	/*padding: 0;*/
	/*opacity: 0.5;*/
/*}*/

.full-width-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
	/*height: 100px;*/
	/*background: rgba(252,252,252,0.4);*/
	/*overflow: hidden;*/
}

.cursor-pointer {
	cursor: pointer;
}