body {
	background: #FCFCFC;
	font-family: 'Lato400', sans-serif;
	color: #2E8BAF;
}

h1 {
	font-family: 'Pacifico', cursive;
	/*font-family: 'Lobster Two', cursive;*/
	font-size: 64px;
	font-style: italic;
}

h2, h3, h4 {
	font-family: 'Lato400', sans-serif;
	color: #073547;
}

p {
	font-family: 'Lato200', sans-serif;
	font-weight: lighter;
	font-size: 24px;
	color: #073547;

}

#header {
		position: absolute;
		z-index: 2;
		padding: 32px;
		width: 100%;
}

#header h1 {
	font-size: 100px;
	font-weight: normal;
	text-align: center;
	margin: 0;
	line-height: 100px;
}

/*#header.bg {*/
	/*height: 70px;*/
	/*background: rgba(252,252,252,0.8);*/
	/*padding: 0;*/
/*}*/

/*#header.bg h1 {*/
	/*font-size: 48px;*/
	/*margin: 0 16px;*/
	/*line-height: 70px;*/
/*}*/

.header-so-me > img {
	margin-right: 20px;
	height: 60px;
	width: auto;
}

#choir-image {
	position: relative;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("/img/kor6.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.landing-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 16px;
}

#click-bottom {
	position: relative;
	height: 100px;
	width: 100px;
}

#click-bottom > i {
	font-size: 48px;
	margin-top: 21px;
}

#click-bottom:hover {
	background: rgba(252,252,252,0.6);
	-webkit-transition: background-color 1.2s;
	transition: background-color 1.2s;
}

.page {
	padding-top: 86px;
	padding-bottom: 4px;
}

#second-header {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 70px;
	background: rgba(252,252,252,0.8);
}

#second-header > h1 {
	text-align: left;
	font-size: 48px;
	margin: 0 16px;
	line-height: 70px;
}

.bottom {
	margin-bottom: 48px;
}

/* S */
@media screen and (max-width: 1024px) {
	#header h1 {
		font-size: 64px;
	}
}

/* XS */
@media screen and (max-width: 768px) {

	#header {
		height: 70px;
		background: rgba(252,252,252,0.8);
		padding: 0;
	}

	#header h1 {
		font-size: 48px;
		margin: 0 16px;
		line-height: 70px;
	}
	

	#click-bottom {
		position: relative;
		height: 70px;
		width: 70px;
	}

	#click-bottom > i {
		font-size: 24px;
		margin-top: 21px;
	}

	#second-header > h1 {
		text-align: center;
		font-size: 36px;
	}
}

/* XXS */
@media screen and (max-width: 500px) {
	#header {
		height: 60px;
	}

	#header h1 {
		font-size: 32px;
		line-height: 60px;
	}


	#second-header > h1 {
		text-align: center;
		font-size: 24px;
	}

	.click-bottom > i {
		font-size: 24px;
		color: #073547;
	}

	.cite-text, .bottom-slogan {
		font-size: 18px;
	}


}

/* XXXS */
@media screen and (max-width: 330px) {
	#header h1 {
		font-size: 24px;
	}

	.cite-text {
		font-size: 14px;
	}
}



/* Helpers */

.contact-icon {
	font-size: 100px;
}

.blue-color {
	color: #2E8BAF;
}

.dark-blue-color {
	color: #073547;
}

.face-color {
	color: #3b5998;
}

.insta-color {
	color: #517fa4;
}

.insta-brown-color {
	color: #675144;
}

.youtube-color {
	color: #bb0000;
}

.google-color {
	color: #dd4b39;
}

.vine-color {
	color: #00bf8f;
}

.face-background:hover {
	background: #3b5998;
}

.insta-background:hover {
	background: #517fa4;
}

.insta-brown-background:hover {
	background: #675144;
}

.youtube-background:hover {
	background: #bb0000;
}

.google-background:hover {
	background: #dd4b39;
}

.vine-background:hover {
	background: #00bf8f;
}

.center {
	display: table;
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

.circular {
	border-radius: 50%;
}

.rotate {
	-ms-transform: rotate(-0.81deg); /* IE 9 */
	-webkit-transform: rotate(-0.81deg); /* Chrome, Safari, Opera */
	transform: rotate(-0.81deg);
}

.italic {
	font-style: italic;
}

.cursor-pointer {
	cursor: pointer;
}

.relative {
	position: relative;
}

.bottom-slogan {
	padding: 16px 8px;
}